<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width; initial-scale=1.0;">
  
  <link rel="stylesheet" href="default.css" />

  <script src="/js/jquery-1.4.2.js" runat="client+server"></script>
  <script src="/js/jquery.validate.js" runat="client+server"></script>
  <script src="/js/validator.remote.js" runat="client"></script>
  <script src="setup.js" runat="server"></script>
  
</head>
<body>
  <h1>Server-Side jQuery Example</h1>
</body>
</html>